<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>835</integer>
	<key>capHeight</key>
	<integer>776</integer>
	<key>descender</key>
	<integer>-165</integer>
	<key>familyName</key>
	<string>ZigZag</string>
	<key>italicAngle</key>
	<real>-3.21</real>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-172</integer>
		<integer>-154</integer>
		<integer>-18</integer>
		<integer>0</integer>
		<integer>643</integer>
		<integer>661</integer>
		<integer>800</integer>
		<integer>818</integer>
	</array>
	<key>postscriptFamilyBlues</key>
	<array>
	</array>
	<key>postscriptFamilyOtherBlues</key>
	<array>
	</array>
	<key>postscriptFontName</key>
	<string>TypeCooker-wght1547.74</string>
	<key>postscriptOtherBlues</key>
	<array>
	</array>
	<key>postscriptStemSnapH</key>
	<array>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
	</array>
	<key>styleName</key>
	<string>reg_ex</string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>xHeight</key>
	<integer>643</integer>
</dict>
</plist>
